{% extends 'base.html' %}

{% block extra_head %}{% endblock extra_head %}

{% block page_header %}
  <h2>{{ post.titulo }}</h2>
  <i>{{ post.descricao }}</i>
{% endblock page_header %}

{% block content %}

  <small>Publicado a {{ post.data_publicacao }} por {{ post.autor }}</small>
  <div style="background-color: gray; padding: 5px; border-radius: 3px">
    {{ post.corpo|linebreaks }}
  </div><br>
  <a class="btn btn-primary" href="{% url 'blogc:share' post.id %}"
     style="color:white;">
    Partilhar esta publicacao por
    email..</a>

{% endblock %}
