{% extends 'base.html' %} {% load bootstrap4 %}

{% block extra_head %}{% endblock extra_head %}

{% block page_header %}
  {% if sent %}
  <h3>Email enviado com sucesso!</h3>
  {% else %}
  <h3>Partilhar <b>"{{ post.titulo }}"</b> por email..</h3>
  {% endif %}
{% endblock page_header %}

{% block content %}
  {% if sent %}
  <script>
    alert("{{ post.titulo }} foi enviado com sucesso para {{ form.dados_validos.destinatario }}.");
  </script>

  <ul>
    <li>
      <a href="{% url 'blogc:index' %}">Voltar a pagina principal.</a>
    </li>
    <li>
      <a href="{% url 'blogc:posts' %}">Voltar as publicacoes.</a>
    </li>
  </ul>
  {% else %}

  {% if form.errors %}
  <script>
    alert("Falha ao enviar o email.. Por favor introduza dados correctamente e tente novamente!");
  </script>
  {% endif %}

  <form method="post" action="{% url 'blogc:share' post.id %}">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <input class="btn btn-primary" type="submit" value="Enviar Email">
    <a class="btn btn-primary"
       href="{% url 'blogc:details' post.subtitulo %}"
       style="color:white;">
      Cancelar
    </a>
    {% endbuttons %}
  </form>
  {% endif %}
{% endblock content %}
