<!DOCTYPE html>
{% load static %}

<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
  <script src="{% static '/js/bootstrap.js' %}"></script>
  <script src="{% static '/js/jquery-3.5.1.js' %}"></script>

  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" sizes="32x32" href="{% static '/img/favicon/favicon-32x32.png' %}" type="image/png">
  <link rel="icon" sizes="16x16" href="{% static '/img/favicon/favicon-16x16.png' %}" type="image/png">
  <link rel="shortcut icon" href="{% static '/img/favicon/favicon.ico' %}" type="image/x-icon">
  <!--link rel="manifest" href="{% static '/img/favicon/site.webmanifest' %}"-->
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>BloGC</title>
  {% endif %}

  <style>
    body{font-family: times;}
  </style>

  {% block extra_head %}{% endblock extra_head %}
</head>
<body class="bg-dark">
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
  <a class="navbar-brand" href="{% url 'blogc:index' %}">
    <img sizes="32x32" src="{% static '/img/favicon/favicon-32x32.png' %}">
    BloGC
  </a>

  <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogc:publicados' %}">Publicacoes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blogc:rascunhos' %}">Rascunhos</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <li class="nav-item">
        <span class="navbar-text"><b>{{ user.username }}</b> -</span>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:logout' %}">Terminar sessao</a>
      </li>
      {% else %}
      <li class="nav-item">
        <span class="navbar-text"><b>Olaa, Companheiro!</b> -</span>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:login' %}">Inicie sessao</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'usuarios:cadastro' %}">Cadastre-se</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<main role="main" class="container bg-light"
      style="padding: 20px; border-radius: 5px;">
  <div class="pb-2 mb-2 border-bottom">
    {% block page_header %}{% endblock page_header %}
  </div>
  <div>{% block content %}{% endblock content %}</div>
</main><br>
<footer class="bg-light text-center border" style="padding:5px; position: bottom;">
    <small>
      Direitos Autorais Reservados &copy; 2021
      <a href="https://github.com/Angolackers-Academy">Angolackers</a><br>
      &trade; <a href="https://artesgc.home.blog">ArtesGC</a>
    </small>
</footer>
</body>
</html>
