{% extends 'base.html' %}
{% load static %}{% load bootstrap4 %}

{% block extra_head %}{% endblock extra_head %}

{% block page_header %}
<h2>Bem Vindo <b>{{ user.username }}</b>..</h2>
{% endblock page_header %}

{% block content %}

{% if new_post %}
<script>alert("A sua publicacao foi bem sucedida.");</script>
{% endif %}

<div class="card">
  <span class="card-header text-center"><h3>Nova Publicacao</h3></span>
  <form class="card-body" style="background-color:gray;" method="post">
  {% csrf_token %}
  {% bootstrap_form postform %}

  {% buttons %}
  <input class="btn btn-secondary" type="submit" value="Publicar">
  {% endbuttons %}
  </form>
</div>

{% endblock content %}
