{% extends "base.html" %}

{%block head%}
    <!-- Aqui irão as tags extra do head from login -->
    <style>
        #main-login{
            background-color: yellow;
            color: red;
            text-align: center;
            width: 500px;
            padding: 20px;
            margin: auto;
            border-radius: 5px;
        }
        .botao-cadastro{
            border-radius: 10;
        }
        .botao-cadastro a{
            text-decoration: none;
            color: red;
        }
    </style>
{%endblock head%}

{% block content %}
    {% if form.username.data != None %}
        <h1>Relaxa <b>{{ form.username.data }}</b> já tens a sessão iniciada...</h1>
    {% else %}
        <main id="main-login">
            <h1>Inicie Sessão</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}

                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=20) }}
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=20) }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
            <button class="botao-cadastro"><a href="{{ url_for('signin') }}">Cadastrar-se</a></button>
        </main>
    {% endif %}
{% endblock content %}