{% extends "base.html" %}

{%block head%}
    <!-- Aqui irão as tags extra do head from login -->
    <style>
        #main-login{
            background-color: yellow;
            color: red;
            text-align: center;
            width: 500px;
            padding: 20px;
            margin: auto;
            border-radius: 5px;
        }
        .botao-cadastro{
            border: 1px inset black;
            border-radius: 5px;
            background-color: yellow;
        }
        .botao-cadastro a{
            text-decoration: none;
            color: red;
        }
        .botao-cadastro:hover{
            background-color: rgb(180, 180, 0);
        }
        .erro{
            color: red;
            font-family: cambria;
            font-size: small;
        }
    </style>
{%endblock head%}

{% block content %}

    <!-- Aqui irão as tags extras do body from login -->

    {% if form.username.data != None %}
        <h1>Relaxa <b>{{ form.username.data }}</b> já tens a sessão iniciada...</h1>
    {% else %}
        <main id="main-login">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <script>
                            alert('{{ message }}');
                        </script>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h1>Inicie Sessão</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}

                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=20, placeholder='ex: Seu Nome') }}
                    {% for error in form.username.errors %}
                    <span class="erro">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=20, placeholder='ex: abc_123') }}
                    {% for error in form.password.errors %}
                    <span class="erro">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                <p>{{ form.submit() }}</p>
            </form>
            <button class="botao-cadastro"><a href="{{ url_for('signin') }}">Cadastrar-se</a></button>
        </main>
    {% endif %}

{% endblock content %}
